/* Style */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-color: gainsboro;
    flex-direction: column;
}

#border{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(163, 159, 159);
    flex: 0 1 auto;
    height: 700px;
    width: 450px;
    padding: 25px;
    border-radius: 15px;
    border-style: solid;
    margin: auto;

}

#screen{
    flex : initial;
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 220px;
    margin-bottom: 50px;
        
}

#operation{
    background-color: gainsboro;
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    width: 399px;
    height: 83px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 3px;
    font-size: 25px;
}

#result{
    background-color: gainsboro;
    max-width: 435px;
    max-height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: 10px;
    flex: 0 0 100%;
    font-size: 45px;
    padding-right: 30px;
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 3px;
}


#keys{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    gap: 10px;
    justify-content: center;
    font-weight: bolder;

}

#keys .button2{
    background-color: gainsboro;
    width: 210px;
    height: 75px;
    flex: initial;
    padding: 20px;
    border-radius: 8px;
    border: solid;
    border-width: 3px;
    font-weight: bolder;
    font-size: 20px;
}

#keys .button{
    background-color: gainsboro;
    width: 100px;
    height: 75px;
    flex: initial;
    border-radius: 8px;
    border: solid;
    border-width: 3px;
    font-weight: bolder;
    font-size: 20px;
}

.footer {
    background: #eee;
    color: darkmagenta;
    flex: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    font-size: 20px;
  }